interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/40.4412,-79.9526
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/40.4412,-79.9526\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -79.952600000000004,\n            40.441200000000002\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/40.4412,-79.9526\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"PBZ\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/PBZ\",\n        \"gridId\": \"PBZ\",\n        \"gridX\":
        79,\n        \"gridY\": 66,\n        \"forecast\": \"https://api.weather.gov/gridpoints/PBZ/79,66/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/PBZ/79,66/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/PBZ/79,66\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/PBZ/79,66/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -79.976591999999997,\n                    40.439753000000003\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Pittsburgh\",\n                \"state\": \"PA\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        2036.7694001123\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 85\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/PAZ021\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/PAC003\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/PAZ021\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KPBZ\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 2b100995
      X-Edge-Request-ID:
      - 259ad426
      X-Server-ID:
      - vm-bldr-nids-apiapp9.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/40.4412,-79.9526
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/PBZ/79,66/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -79.968323299999994,\n                    40.443631799999999\n
        \               ],\n                [\n                    -79.971517299999988,\n
        \                   40.421791899999995\n                ],\n                [\n
        \                   -79.942815899999985,\n                    40.419357399999996\n
        \               ],\n                [\n                    -79.939615799999984,\n
        \                   40.441197099999997\n                ],\n                [\n
        \                   -79.968323299999994,\n                    40.443631799999999\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-07-31T11:02:45+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-07-31T12:43:22+00:00\",\n        \"updateTime\": \"2023-07-31T11:02:45+00:00\",\n
        \       \"validTimes\": \"2023-07-31T05:00:00+00:00/P8DT6H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 270.96719999999999\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-07-31T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-07-31T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 80,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 16.111111111111111\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 93\n                },\n
        \               \"windSpeed\": \"2 to 9 mph\",\n                \"windDirection\":
        \"N\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/few?size=medium\",\n
        \               \"shortForecast\": \"Sunny\",\n                \"detailedForecast\":
        \"Sunny, with a high near 80. North wind 2 to 9 mph.\"\n            },\n            {\n
        \               \"number\": 2,\n                \"name\": \"Tonight\",\n                \"startTime\":
        \"2023-07-31T18:00:00-04:00\",\n                \"endTime\": \"2023-08-01T06:00:00-04:00\",\n
        \               \"isDaytime\": false,\n                \"temperature\": 58,\n
        \               \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
        null,[...]
