interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/44.5013,-88.0644
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/44.5013,-88.0644\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -88.064400000000006,\n            44.501300000000001\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/44.5013,-88.0644\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"GRB\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/GRB\",\n        \"gridId\": \"GRB\",\n        \"gridX\":
        78,\n        \"gridY\": 31,\n        \"forecast\": \"https://api.weather.gov/gridpoints/GRB/78,31/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/GRB/78,31/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/GRB/78,31\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/GRB/78,31/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -88.091125000000005,\n                    44.478696900000003\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Ashwaubenon\",\n                \"state\": \"WI\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        3288.0107127043002\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 40\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/WIZ039\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/WIC009\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/WIZ039\",\n        \"timeZone\": \"America/Chicago\",\n
        \       \"radarStation\": \"KGRB\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 2b102bc2
      X-Edge-Request-ID:
      - 259afa7b
      X-Server-ID:
      - vm-bldr-nids-apiapp8.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/44.5013,-88.0644
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/GRB/78,31/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -88.065316600000003,\n                    44.5042647\n
        \               ],\n                [\n                    -88.066853899999998,\n
        \                   44.482841999999998\n                ],\n                [\n
        \                   -88.036813299999992,\n                    44.481742599999997\n
        \               ],\n                [\n                    -88.03526939999999,\n
        \                   44.503165199999998\n                ],\n                [\n
        \                   -88.065316600000003,\n                    44.5042647\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-07-31T12:38:25+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-07-31T12:43:29+00:00\",\n        \"updateTime\": \"2023-07-31T12:38:25+00:00\",\n
        \       \"validTimes\": \"2023-07-31T06:00:00+00:00/P8DT1H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 191.1096\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-07-31T07:00:00-05:00\",\n
        \               \"endTime\": \"2023-07-31T18:00:00-05:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 82,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 12.222222222222221\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 80\n                },\n
        \               \"windSpeed\": \"2 to 7 mph\",\n                \"windDirection\":
        \"WNW\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/sct?size=medium\",\n
        \               \"shortForecast\": \"Mostly Sunny\",\n                \"detailedForecast\":
        \"Mostly sunny, with a high near 82. West northwest wind 2 to 7 mph.\"\n            },\n
        \           {\n                \"number\": 2,\n                \"name\": \"Tonight\",\n
        \               \"startTime\": \"2023-07-31T18:00:00-05:00\",\n                \"endTime\":
        \"2023-08-01T06:00:00-05:00\",\n                \"isDaytime\": false,\n                \"temperature\":
        58,\n                \"temperatureUnit\": \"F\",\n                \"temperatureTrend\"[...]
