interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/27.9778,-82.5034
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/27.9778,-82.5034\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -82.503399999999999,\n            27.977799999999998\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/27.9778,-82.5034\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"TBW\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/TBW\",\n        \"gridId\": \"TBW\",\n        \"gridX\":
        69,\n        \"gridY\": 99,\n        \"forecast\": \"https://api.weather.gov/gridpoints/TBW/69,99/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/TBW/69,99/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/TBW/69,99\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/TBW/69,99/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -82.479673000000005,\n                    27.970085999999998\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Tampa\",\n                \"state\": \"FL\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        2482.9337136019999\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 290\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/FLZ151\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/FLC057\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/FLZ151\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KTBW\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - '26637488'
      X-Edge-Request-ID:
      - 259b1005
      X-Server-ID:
      - vm-bldr-nids-apiapp8.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/27.9778,-82.5034
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/TBW/69,99/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -82.518982199999996,\n                    28.0000012\n
        \               ],\n                [\n                    -82.521356999999995,\n
        \                   27.977284600000001\n                ],\n                [\n
        \                   -82.495640600000002,\n                    27.975186100000002\n
        \               ],\n                [\n                    -82.493261000000004,\n
        \                   27.997902300000003\n                ],\n                [\n
        \                   -82.518982199999996,\n                    28.0000012\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-07-31T10:54:05+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-07-31T12:43:33+00:00\",\n        \"updateTime\": \"2023-07-31T10:54:05+00:00\",\n
        \       \"validTimes\": \"2023-07-31T04:00:00+00:00/P7DT21H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 7.9248000000000003\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-07-31T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-07-31T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 92,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        60\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 25\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 88\n                },\n
        \               \"windSpeed\": \"2 to 8 mph\",\n                \"windDirection\":
        \"WSW\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/tsra_hi,40/tsra_hi,60?size=medium\",\n
        \               \"shortForecast\": \"Scattered Showers And Thunderstorms\",\n
        \               \"detailedForecast\": \"Isolated rain showers between 9am
        and 10am, then scattered showers and thunderstorms between 10am and noon,
        then scattered showers and thunderstorms between noon and 2pm, then a chance
        of showers and thunderstorms between 2pm and 3pm, then scattered showers and
        thunderstorms. Partly sunny, with a high near 92. Heat index values as high
        as 103. West southwest wind 2 to 8 mph. Chance of precipitation is 60%. New
        rainfall amounts between a half and[...]
