interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/39.0964,-84.5151
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/39.0964,-84.5151\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -84.515100000000004,\n            39.096400000000003\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/39.0964,-84.5151\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"ILN\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/ILN\",\n        \"gridId\": \"ILN\",\n        \"gridX\":
        35,\n        \"gridY\": 38,\n        \"forecast\": \"https://api.weather.gov/gridpoints/ILN/35,38/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/ILN/35,38/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/ILN/35,38\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/ILN/35,38/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -84.487813000000003,\n                    39.085438000000003\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Newport\",\n                \"state\": \"KY\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        2651.7241785995002\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 297\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/OHZ077\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/OHC061\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/OHZ077\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KILN\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 2b100514
      X-Edge-Request-ID:
      - 259ad0b2
      X-Server-ID:
      - vm-bldr-nids-apiapp7.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/39.0964,-84.5151
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/ILN/35,38/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -84.541019300000002,\n                    39.113691600000003\n
        \               ],\n                [\n                    -84.543216099999995,\n
        \                   39.091634800000001\n                ],\n                [\n
        \                   -84.514795800000002,\n                    39.089927700000004\n
        \               ],\n                [\n                    -84.512592999999995,\n
        \                   39.111984300000003\n                ],\n                [\n
        \                   -84.541019300000002,\n                    39.113691600000003\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-07-31T10:25:59+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-07-31T12:43:21+00:00\",\n        \"updateTime\": \"2023-07-31T10:25:59+00:00\",\n
        \       \"validTimes\": \"2023-07-31T04:00:00+00:00/P8DT6H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 157.88640000000001\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-07-31T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-07-31T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 84,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 18.333333333333332\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 94\n                },\n
        \               \"windSpeed\": \"7 mph\",\n                \"windDirection\":
        \"N\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/few?size=medium\",\n
        \               \"shortForecast\": \"Sunny\",\n                \"detailedForecast\":
        \"Sunny, with a high near 84. North wind around 7 mph.\"\n            },\n
        \           {\n                \"number\": 2,\n                \"name\": \"Tonight\",\n
        \               \"startTime\": \"2023-07-31T18:00:00-04:00\",\n                \"endTime\":
        \"2023-08-01T06:00:00-04:00\",\n                \"isDaytime\": false,\n                \"temperature\":
        61,\n                \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
        null[...]
