interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/36.0908,-115.1831
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/36.0908,-115.1831\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -115.1831,\n            36.090800000000002\n        ]\n    },\n
        \   \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/36.0908,-115.1831\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"VEF\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/VEF\",\n        \"gridId\": \"VEF\",\n        \"gridX\":
        121,\n        \"gridY\": 95,\n        \"forecast\": \"https://api.weather.gov/gridpoints/VEF/121,95/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/VEF/121,95/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/VEF/121,95\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/VEF/121,95/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -115.13689599999999,\n                    36.080708000000001\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Paradise\",\n                \"state\": \"NV\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        4300.9062804601999\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 285\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/NVZ020\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/NVC003\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/NVZ465\",\n        \"timeZone\": \"America/Los_Angeles\",\n
        \       \"radarStation\": \"KESX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 26633ed2
      X-Edge-Request-ID:
      - 259ab987
      X-Server-ID:
      - vm-bldr-nids-apiapp9.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/36.0908,-115.1831
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/VEF/121,95/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -115.1878913,\n                    36.108533899999998\n
        \               ],\n                [\n                    -115.18377820000001,\n
        \                   36.0863783\n                ],\n                [\n                    -115.1562787,\n
        \                   36.0897091\n                ],\n                [\n                    -115.1603863,\n
        \                   36.111865100000003\n                ],\n                [\n
        \                   -115.1878913,\n                    36.108533899999998\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-07-31T08:04:30+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-07-31T12:43:17+00:00\",\n        \"updateTime\": \"2023-07-31T08:04:30+00:00\",\n
        \       \"validTimes\": \"2023-07-31T02:00:00+00:00/P7DT23H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 651.05280000000005\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Overnight\",\n                \"startTime\":
        \"2023-07-31T05:00:00-07:00\",\n                \"endTime\": \"2023-07-31T06:00:00-07:00\",\n
        \               \"isDaytime\": false,\n                \"temperature\": 88,\n
        \               \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
        null,\n                \"probabilityOfPrecipitation\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": null\n                },\n
        \               \"dewpoint\": {\n                    \"unitCode\": \"wmoUnit:degC\",\n
        \                   \"value\": 12.777777777777779\n                },\n                \"relativeHumidity\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        32\n                },\n                \"windSpeed\": \"5 mph\",\n                \"windDirection\":
        \"NW\",\n                \"icon\": \"https://api.weather.gov/icons/land/night/bkn?size=medium\",\n
        \               \"shortForecast\": \"Mostly Cloudy\",\n                \"detailedForecast\":
        \"Mostly cloudy, with a low around 88. Northwest wind around 5 mph.\"\n            },\n
        \           {\n                \"number\": 2,\n                \"name\": \"Monday\",\n
        \               \"startTime\": \"2023-07-31T06:00:00-07:00\",\n                \"endTime\":
        \"2023-07-31T18:00:00-07:00\",\n                \"isDaytime\": true,\n                \"temperature\":
        105,\n                \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
[...]
