interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/29.6847,-95.4129
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/29.6847,-95.4128999\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -95.412899899999999,\n            29.684699999999999\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/29.6847,-95.4128999\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"HGX\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/HGX\",\n        \"gridId\": \"HGX\",\n        \"gridX\":
        63,\n        \"gridY\": 93,\n        \"forecast\": \"https://api.weather.gov/gridpoints/HGX/63,93/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/HGX/63,93/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/HGX/63,93\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/HGX/63,93/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -95.435483000000005,\n                    29.708686\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Southside Place\",\n                \"state\": \"TX\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        3445.5342363646\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 140\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/TXZ213\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/TXC201\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/TXZ213\",\n        \"timeZone\": \"America/Chicago\",\n
        \       \"radarStation\": \"KHGX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - '26634776'
      X-Edge-Request-ID:
      - 259ac9af
      X-Server-ID:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/29.6847,-95.4129
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/HGX/63,93/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -95.432597099999995,\n                    29.6907456\n
        \               ],\n                [\n                    -95.432513499999999,\n
        \                   29.667984999999998\n                ],\n                [\n
        \                   -95.406324600000005,\n                    29.668055399999997\n
        \               ],\n                [\n                    -95.406403100000006,\n
        \                   29.690816099999996\n                ],\n                [\n
        \                   -95.432597099999995,\n                    29.6907456\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-07-31T12:22:17+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-07-31T12:43:20+00:00\",\n        \"updateTime\": \"2023-07-31T12:22:17+00:00\",\n
        \       \"validTimes\": \"2023-07-31T06:00:00+00:00/P7DT19H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 15.849600000000001\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-07-31T07:00:00-05:00\",\n
        \               \"endTime\": \"2023-07-31T18:00:00-05:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 102,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 24.444444444444443\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 85\n                },\n
        \               \"windSpeed\": \"5 to 10 mph\",\n                \"windDirection\":
        \"SW\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/hot?size=medium\",\n
        \               \"shortForecast\": \"Sunny\",\n                \"detailedForecast\":
        \"Sunny, with a high near 102. Heat index values as high as 107. Southwest
        wind 5 to 10 mph.\"\n            },\n            {\n                \"number\":
        2,\n                \"name\": \"Tonight\",\n                \"startTime\":
        \"2023-07-31T18:00:00-05:00\",\n                \"endTime\": \"2023-08-01T06:00:00-05:00\",\n
        \               \"isDaytime\": false,\n                \"temperature\": 80,\n
        \               \"temperatureUnit\": \"F\",\n    [...]
