interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/29.9511,-90.0834
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/29.9511,-90.0834\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -90.083399999999997,\n            29.9511\n        ]\n    },\n
        \   \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/29.9511,-90.0834\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"LIX\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/LIX\",\n        \"gridId\": \"LIX\",\n        \"gridX\":
        67,\n        \"gridY\": 88,\n        \"forecast\": \"https://api.weather.gov/gridpoints/LIX/67,88/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/LIX/67,88/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/LIX/67,88\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/LIX/67,88/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -90.051721000000001,\n                    29.910945999999999\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Gretna\",\n                \"state\": \"LA\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        5408.7676482226998\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 325\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/LAZ077\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/LAC071\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/LAZ077\",\n        \"timeZone\": \"America/Chicago\",\n
        \       \"radarStation\": \"KLIX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 2b1037d6
      X-Edge-Request-ID:
      - 259b0829
      X-Server-ID:
      - vm-bldr-nids-apiapp6.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/29.9511,-90.0834
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/LIX/67,88/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -90.101521700000006,\n                    29.9560341\n
        \               ],\n                [\n                    -90.102470300000007,\n
        \                   29.933291799999999\n                ],\n                [\n
        \                   -90.076228700000001,\n                    29.9324677\n
        \               ],\n                [\n                    -90.075275000000005,\n
        \                   29.9552099\n                ],\n                [\n                    -90.101521700000006,\n
        \                   29.9560341\n                ]\n            ]\n        ]\n
        \   },\n    \"properties\": {\n        \"updated\": \"2023-07-31T11:05:50+00:00\",\n
        \       \"units\": \"us\",\n        \"forecastGenerator\": \"BaselineForecastGenerator\",\n
        \       \"generatedAt\": \"2023-07-31T12:43:31+00:00\",\n        \"updateTime\":
        \"2023-07-31T11:05:50+00:00\",\n        \"validTimes\": \"2023-07-31T05:00:00+00:00/P7DT20H\",\n
        \       \"elevation\": {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\":
        0.91439999999999999\n        },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-07-31T07:00:00-05:00\",\n
        \               \"endTime\": \"2023-07-31T18:00:00-05:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 99,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": \"falling\",\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        20\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 26.111111111111111\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 88\n                },\n
        \               \"windSpeed\": \"5 mph\",\n                \"windDirection\":
        \"N\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/hot/tsra_hi,20?size=medium\",\n
        \               \"shortForecast\": \"Sunny then Slight Chance Showers And
        Thunderstorms\",\n                \"detailedForecast\": \"A slight chance
        of showers and thunderstorms between 1pm and 4pm. Sunny. High near 99, with
        temperatures falling to around 97 in the afternoon. Heat index values as high
        as 111. North wind around 5 mph. Chance of precipitation is 20%.\"\n            },\n
        \           {\n                \"number\": 2,\n                \"name\": \"Tonight\",\n
        \               \"startTime\": \"2023-07-31T18:00:00-05:00\",\n                \"endTime\":
        \"2023-08-01T0[...]
