interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/25.9580,-80.2411
  response:
    body: {}
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - /points/25.958,-80.2411
      X-Correlation-ID:
      - 2b101395
      X-Edge-Request-ID:
      - 259addd5
      X-Server-ID:
      - vm-bldr-nids-apiapp1.ncep.noaa.gov
    status:
      code: 301
      message: Moved Permanently
    url: https://api.weather.gov/points/25.9580,-80.2411
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/25.958,-80.2411
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/25.9579999,-80.2411\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -80.241100000000003,\n            25.957999900000001\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/25.9579999,-80.2411\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"MFL\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/MFL\",\n        \"gridId\": \"MFL\",\n        \"gridX\":
        107,\n        \"gridY\": 58,\n        \"forecast\": \"https://api.weather.gov/gridpoints/MFL/107,58/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/MFL/107,58/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/MFL/107,58\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/MFL/107,58/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -80.243584999999996,\n                    25.948892000000001\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Miami Gardens\",\n                \"state\": \"FL\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        1042.7842125059999\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 13\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/FLZ074\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/FLC086\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/FLZ074\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KAMX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - '26635801'
      X-Edge-Request-ID:
      - 259addfc
      X-Server-ID:
      - vm-bldr-nids-apiapp9.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/25.958,-80.2411
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/MFL/107,58/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -80.252387400000003,\n                    25.961179900000001\n
        \               ],\n                [\n                    -80.255144600000008,\n
        \                   25.938477000000002\n                ],\n                [\n
        \                   -80.229891400000014,\n                    25.935995200000001\n
        \               ],\n                [\n                    -80.227129600000012,\n
        \                   25.958697700000002\n                ],\n                [\n
        \                   -80.252387400000003,\n                    25.961179900000001\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-07-31T10:47:16+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-07-31T12:43:24+00:00\",\n        \"updateTime\": \"2023-07-31T10:47:16+00:00\",\n
        \       \"validTimes\": \"2023-07-31T04:00:00+00:00/P7DT21H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 2.1335999999999999\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-07-31T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-07-31T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 94,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": \"falling\",\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        70\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 25.555555555555557\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 88\n                },\n
        \               \"windSpeed\": \"9 mph\",\n                \"windDirection\":
        \"S\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/tsra_hi,20/tsra_hi,70?size=medium\",\n
        \               \"shortForecast\": \"Showers And Thunderstorms Likely\",\n
        \               \"detailedForecast\": \"Showers and thunderstorms likely after
        11am. Mostly sunny. High near 94, with temperatures falling to around 89 in
        the afternoon. Heat index values as high as 105. South wind around 9 mph.
        Chance of precipitation is 70%. New rainfall amounts between a quarter and
        half of an inch possible.\"\n            },\n            {\n                \"number\":
        2,\n                \"name\": \"Tonight\",\n                \"startTime\":
        \"2023-07-31T18:00:00-[...]
