interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/38.9076,-76.8667
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/38.9076,-76.8667\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -76.866699999999994,\n            38.907600000000002\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/38.9076,-76.8667\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"LWX\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/LWX\",\n        \"gridId\": \"LWX\",\n        \"gridX\":
        102,\n        \"gridY\": 73,\n        \"forecast\": \"https://api.weather.gov/gridpoints/LWX/102,73/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/LWX/102,73/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/LWX/102,73\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/LWX/102,73/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -76.868296999999998,\n                    38.904538000000002\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Summerfield\",\n                \"state\": \"MD\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        367.45334923586\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 22\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/MDZ013\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/MDC033\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/MDZ013\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KLWX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 2b102604
      X-Edge-Request-ID:
      - 259af465
      X-Server-ID:
      - vm-bldr-nids-apiapp6.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/38.9076,-76.8667
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/LWX/102,73/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -76.888423900000006,\n                    38.929994100000002\n
        \               ],\n                [\n                    -76.89221400000001,\n
        \                   38.908049800000001\n                ],\n                [\n
        \                   -76.864014300000008,\n                    38.905099\n
        \               ],\n                [\n                    -76.860218500000002,\n
        \                   38.927042899999996\n                ],\n                [\n
        \                   -76.888423900000006,\n                    38.929994100000002\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-07-31T12:00:08+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-07-31T12:43:27+00:00\",\n        \"updateTime\": \"2023-07-31T12:00:08+00:00\",\n
        \       \"validTimes\": \"2023-07-31T05:00:00+00:00/P7DT20H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 29.8704\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-07-31T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-07-31T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 83,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        20\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 18.333333333333332\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 78\n                },\n
        \               \"windSpeed\": \"7 mph\",\n                \"windDirection\":
        \"NW\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/sct/rain_showers,20?size=medium\",\n
        \               \"shortForecast\": \"Mostly Sunny then Isolated Rain Showers\",\n
        \               \"detailedForecast\": \"Isolated rain showers between 2pm
        and 3pm. Mostly sunny, with a high near 83. Northwest wind around 7 mph. Chance
        of precipitation is 20%.\"\n            },\n            {\n                \"number\":
        2,\n                \"name\": \"Tonight\",\n                \"startTime\":
        \"2023-07-31T18:00:00-04:00\",\n                \"endTime\": \"2023-08-01T06:00:00-04:00\",\n
        \               \"isDaytime\": false,\n                \"temperature\": 65,\n
        \[...]
