interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/39.3085,-76.5648
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/39.3085,-76.5648\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -76.564800000000005,\n            39.308500000000002\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/39.3085,-76.5648\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"LWX\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/LWX\",\n        \"gridId\": \"LWX\",\n        \"gridX\":
        110,\n        \"gridY\": 92,\n        \"forecast\": \"https://api.weather.gov/gridpoints/LWX/110,92/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/LWX/110,92/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/LWX/110,92\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/LWX/110,92/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -76.610476000000006,\n                    39.300032000000002\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Baltimore\",\n                \"state\": \"MD\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        4041.2784427514998\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 76\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/MDZ011\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/MDC510\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/MDZ011\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KLWX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 2663528f
      X-Edge-Request-ID:
      - 259b134d
      X-Server-ID:
      - vm-bldr-nids-apiapp1.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/39.3085,-76.5648
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/LWX/110,92/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -76.589629299999999,\n                    39.322691800000001\n
        \               ],\n                [\n                    -76.593494899999996,\n
        \                   39.300800700000003\n                ],\n                [\n
        \                   -76.565202299999996,\n                    39.297807400000003\n
        \               ],\n                [\n                    -76.561330900000002,\n
        \                   39.319698200000005\n                ],\n                [\n
        \                   -76.589629299999999,\n                    39.322691800000001\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-07-31T12:00:08+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-07-31T12:43:22+00:00\",\n        \"updateTime\": \"2023-07-31T12:00:08+00:00\",\n
        \       \"validTimes\": \"2023-07-31T05:00:00+00:00/P7DT20H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 43.891199999999998\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-07-31T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-07-31T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 83,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 17.222222222222221\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 76\n                },\n
        \               \"windSpeed\": \"5 to 8 mph\",\n                \"windDirection\":
        \"NW\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/sct?size=medium\",\n
        \               \"shortForecast\": \"Mostly Sunny\",\n                \"detailedForecast\":
        \"Mostly sunny, with a high near 83. Northwest wind 5 to 8 mph.\"\n            },\n
        \           {\n                \"number\": 2,\n                \"name\": \"Tonight\",\n
        \               \"startTime\": \"2023-07-31T18:00:00-04:00\",\n                \"endTime\":
        \"2023-08-01T06:00:00-04:00\",\n                \"isDaytime\": false,\n                \"temperature\":
        66,\n                \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
   [...]
