interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/42.0884,-71.2696
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/42.0884,-71.2696\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -71.269599999999997,\n            42.0884\n        ]\n    },\n
        \   \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/42.0884,-71.2696\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"BOX\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/BOX\",\n        \"gridId\": \"BOX\",\n        \"gridX\":
        67,\n        \"gridY\": 76,\n        \"forecast\": \"https://api.weather.gov/gridpoints/BOX/67,76/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/BOX/67,76/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/BOX/67,76\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/BOX/67,76/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -71.248401000000001,\n                    42.064024000000003\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Foxborough\",\n                \"state\": \"MA\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        3226.1543962023002\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 327\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/MAZ013\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/MAC021\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/MAZ013\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KBOX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 2b101cb3
      X-Edge-Request-ID:
      - 259ae81e
      X-Server-ID:
      - vm-bldr-nids-apiapp11.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/42.0884,-71.2696
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/BOX/67,76/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -71.270023699999996,\n                    42.089862799999999\n
        \               ],\n                [\n                    -71.275133199999999,\n
        \                   42.0684155\n                ],\n                [\n                    -71.246239799999998,\n
        \                   42.0646208\n                ],\n                [\n                    -71.241124299999996,\n
        \                   42.086067700000001\n                ],\n                [\n
        \                   -71.270023699999996,\n                    42.089862799999999\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-07-31T06:05:38+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-07-31T12:43:25+00:00\",\n        \"updateTime\": \"2023-07-31T06:05:38+00:00\",\n
        \       \"validTimes\": \"2023-07-31T00:00:00+00:00/P8DT6H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 89.915999999999997\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-07-31T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-07-31T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 79,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 14.444444444444445\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 81\n                },\n
        \               \"windSpeed\": \"3 to 7 mph\",\n                \"windDirection\":
        \"W\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/sct?size=medium\",\n
        \               \"shortForecast\": \"Mostly Sunny\",\n                \"detailedForecast\":
        \"Mostly sunny, with a high near 79. West wind 3 to 7 mph.\"\n            },\n
        \           {\n                \"number\": 2,\n                \"name\": \"Tonight\",\n
        \               \"startTime\": \"2023-07-31T18:00:00-04:00\",\n                \"endTime\":
        \"2023-08-01T06:00:00-04:00\",\n                \"isDaytime\": false,\n                \"temperature\":
        56,\n                \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
        [...]
