interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/44.9736,-93.2597
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/44.9736,-93.2597\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -93.259699999999995,\n            44.973599999999998\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/44.9736,-93.2597\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"MPX\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/MPX\",\n        \"gridId\": \"MPX\",\n        \"gridX\":
        109,\n        \"gridY\": 72,\n        \"forecast\": \"https://api.weather.gov/gridpoints/MPX/109,72/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/MPX/109,72/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/MPX/109,72\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/MPX/109,72/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -93.268320000000003,\n                    44.963324\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Minneapolis\",\n                \"state\": \"MN\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        1328.7197233818999\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 30\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/MNZ060\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/MNC053\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/MNZ060\",\n        \"timeZone\": \"America/Chicago\",\n
        \       \"radarStation\": \"KMPX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 2b10324b
      X-Edge-Request-ID:
      - 259b0148
      X-Server-ID:
      - vm-bldr-nids-apiapp1.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/44.9736,-93.2597
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/MPX/109,72/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -93.262340100000003,\n                    44.986657100000002\n
        \               ],\n                [\n                    -93.262727499999997,\n
        \                   44.9652733\n                ],\n                [\n                    -93.232505599999996,\n
        \                   44.964996900000003\n                ],\n                [\n
        \                   -93.232111399999994,\n                    44.986380600000004\n
        \               ],\n                [\n                    -93.262340100000003,\n
        \                   44.986657100000002\n                ]\n            ]\n
        \       ]\n    },\n    \"properties\": {\n        \"updated\": \"2023-07-31T10:47:30+00:00\",\n
        \       \"units\": \"us\",\n        \"forecastGenerator\": \"BaselineForecastGenerator\",\n
        \       \"generatedAt\": \"2023-07-31T12:43:30+00:00\",\n        \"updateTime\":
        \"2023-07-31T10:47:30+00:00\",\n        \"validTimes\": \"2023-07-31T04:00:00+00:00/P7DT21H\",\n
        \       \"elevation\": {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\":
        244.1448\n        },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-07-31T07:00:00-05:00\",\n
        \               \"endTime\": \"2023-07-31T18:00:00-05:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 86,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 14.444444444444445\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 84\n                },\n
        \               \"windSpeed\": \"0 to 5 mph\",\n                \"windDirection\":
        \"ESE\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/few?size=medium\",\n
        \               \"shortForecast\": \"Sunny\",\n                \"detailedForecast\":
        \"Sunny, with a high near 86. East southeast wind 0 to 5 mph.\"\n            },\n
        \           {\n                \"number\": 2,\n                \"name\": \"Tonight\",\n
        \               \"startTime\": \"2023-07-31T18:00:00-05:00\",\n                \"endTime\":
        \"2023-08-01T06:00:00-05:00\",\n                \"isDaytime\": false,\n                \"temperature\":
        64,\n                \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
     [...]
