interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/42.7738,-78.7892
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/42.7738,-78.7891999\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -78.7891999,\n            42.773800000000001\n        ]\n    },\n
        \   \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/42.7738,-78.7891999\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"BUF\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/BUF\",\n        \"gridId\": \"BUF\",\n        \"gridX\":
        39,\n        \"gridY\": 42,\n        \"forecast\": \"https://api.weather.gov/gridpoints/BUF/39,42/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/BUF/39,42/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/BUF/39,42\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/BUF/39,42/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -78.741366999999997,\n                    42.762197999999998\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Orchard Park\",\n                \"state\": \"NY\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        4112.1734513476003\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 288\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/NYZ085\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/NYC029\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/NYZ200\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KBUF\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 26635c80
      X-Edge-Request-ID:
      - 259ae506
      X-Server-ID:
      - vm-bldr-nids-apiapp9.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/42.7738,-78.7892
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/BUF/39,42/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -78.812383999999994,\n                    42.783643699999999\n
        \               ],\n                [\n                    -78.8159043,\n
        \                   42.762101700000002\n                ],\n                [\n
        \                   -78.786570100000006,\n                    42.759516099999999\n
        \               ],\n                [\n                    -78.783043400000011,\n
        \                   42.781057799999999\n                ],\n                [\n
        \                   -78.812383999999994,\n                    42.783643699999999\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-07-31T12:36:54+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-07-31T12:43:25+00:00\",\n        \"updateTime\": \"2023-07-31T12:36:54+00:00\",\n
        \       \"validTimes\": \"2023-07-31T06:00:00+00:00/P7DT19H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 224.02799999999999\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-07-31T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-07-31T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 74,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        40\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 14.444444444444445\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 75\n                },\n
        \               \"windSpeed\": \"8 to 13 mph\",\n                \"windDirection\":
        \"W\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/rain_showers,20/tsra_hi,40?size=medium\",\n
        \               \"shortForecast\": \"Slight Chance Rain Showers then Chance
        Showers And Thunderstorms\",\n                \"detailedForecast\": \"A slight
        chance of rain showers between 11am and 1pm, then a chance of showers and
        thunderstorms. Partly sunny, with a high near 74. West wind 8 to 13 mph. Chance
        of precipitation is 40%. New rainfall amounts less than a tenth of an inch
        possible.\"\n            },\n            {\n                \"number\": 2,\n
        \               \"name\": \"Tonight\",\n                \"startTime\": \"2023-07-31T18:00:00-04:00\",\n
        \               \"endTime\": \[...]
