discord.py==1.7.3
discord-py-slash-command==2.4.1
Flask==1.1.2
fuzzywuzzy[speedup]==0.18.0
nest_asyncio==1.4.3
Praw==7.1.0
pytimeparse==1.1.8
pytz==2020.5
PyYAML==5.3.1
python-twitter==3.5
tinycss2==1.1.0
waitress==1.4.4
wand==0.6.5
