interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/37.3348,-121.8881
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/37.3348,-121.8881\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -121.88809999999999,\n            37.334800000000001\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/37.3348,-121.8881\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"MTR\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/MTR\",\n        \"gridId\": \"MTR\",\n        \"gridX\":
        99,\n        \"gridY\": 82,\n        \"forecast\": \"https://api.weather.gov/gridpoints/MTR/99,82/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/MTR/99,82/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/MTR/99,82\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/MTR/99,82/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -121.930457,\n                    37.321072999999998\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Burbank\",\n                \"state\": \"CA\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        4044.2981864397998\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 67\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/CAZ513\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/CAC085\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/CAZ513\",\n        \"timeZone\": \"America/Los_Angeles\",\n
        \       \"radarStation\": \"KMUX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 2702af71
      X-Edge-Request-ID:
      - 37b1850
      X-Server-ID:
      - vm-bldr-nids-apiapp3.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/37.3348,-121.8881
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/MTR/99,82/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -121.9122352,\n                    37.341287999999999\n
        \               ],\n                [\n                    -121.9067053,\n
        \                   37.319426399999998\n                ],\n                [\n
        \                   -121.879278,\n                    37.323810699999996\n
        \               ],\n                [\n                    -121.8848026,\n
        \                   37.345672799999996\n                ],\n                [\n
        \                   -121.9122352,\n                    37.341287999999999\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T08:27:01+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:17:21+00:00\",\n        \"updateTime\": \"2023-08-01T08:27:01+00:00\",\n
        \       \"validTimes\": \"2023-08-01T02:00:00+00:00/P7DT2H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 24.993600000000001\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Overnight\",\n                \"startTime\":
        \"2023-08-01T05:00:00-07:00\",\n                \"endTime\": \"2023-08-01T06:00:00-07:00\",\n
        \               \"isDaytime\": false,\n                \"temperature\": 57,\n
        \               \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
        null,\n                \"probabilityOfPrecipitation\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": null\n                },\n
        \               \"dewpoint\": {\n                    \"unitCode\": \"wmoUnit:degC\",\n
        \                   \"value\": 12.222222222222221\n                },\n                \"relativeHumidity\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        89\n                },\n                \"windSpeed\": \"3 mph\",\n                \"windDirection\":
        \"W\",\n                \"icon\": \"https://api.weather.gov/icons/land/night/bkn?size=medium\",\n
        \               \"shortForecast\": \"Mostly Cloudy\",\n                \"detailedForecast\":
        \"Mostly cloudy, with a low around 57. West wind around 3 mph.\"\n            },\n
        \           {\n                \"number\": 2,\n                \"name\": \"Tuesday\",\n
        \               \"startTime\": \"2023-08-01T06:00:00-07:00\",\n                \"endTime\":
        \"2023-08-01T18:00:00-07:00\",\n                \"isDaytime\": true,\n                \"temperature\":
        78,\n                \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
     [...]
