interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/41.8624,-87.6178
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/41.8624,-87.6178\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -87.617800000000003,\n            41.862400000000001\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/41.8624,-87.6178\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"LOT\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/LOT\",\n        \"gridId\": \"LOT\",\n        \"gridX\":
        76,\n        \"gridY\": 72,\n        \"forecast\": \"https://api.weather.gov/gridpoints/LOT/76,72/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/LOT/76,72/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/LOT/76,72\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/LOT/76,72/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -87.681843999999998,\n                    41.837550999999998\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Chicago\",\n                \"state\": \"IL\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        5981.1547907885997\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 62\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/ILZ104\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/ILC031\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/ILZ014\",\n        \"timeZone\": \"America/Chicago\",\n
        \       \"radarStation\": \"KLOT\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 2ec9456e
      X-Edge-Request-ID:
      - 1f9d1e6b
      X-Server-ID:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/41.8624,-87.6178
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/LOT/76,72/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -87.632358600000003,\n                    41.866501399999997\n
        \               ],\n                [\n                    -87.633948500000002,\n
        \                   41.844729599999994\n                ],\n                [\n
        \                   -87.604719299999999,\n                    41.843542999999997\n
        \               ],\n                [\n                    -87.603123100000005,\n
        \                   41.865314699999999\n                ],\n                [\n
        \                   -87.632358600000003,\n                    41.866501399999997\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T10:27:05+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:47:02+00:00\",\n        \"updateTime\": \"2023-08-01T10:27:05+00:00\",\n
        \       \"validTimes\": \"2023-08-01T04:00:00+00:00/P7DT21H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 181.05119999999999\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-08-01T07:00:00-05:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-05:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 80,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        20\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 16.111111111111111\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 70\n                },\n
        \               \"windSpeed\": \"5 to 10 mph\",\n                \"windDirection\":
        \"SSE\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/rain_showers,20?size=medium\",\n
        \               \"shortForecast\": \"Isolated Rain Showers\",\n                \"detailedForecast\":
        \"Isolated rain showers. Partly sunny, with a high near 80. South southeast
        wind 5 to 10 mph. Chance of precipitation is 20%.\"\n            },\n            {\n
        \               \"number\": 2,\n                \"name\": \"Tonight\",\n                \"startTime\":
        \"2023-08-01T18:00:00-05:00\",\n                \"endTime\": \"2023-08-02T06:00:00-05:00\",\n
        \               \"isDaytime\": false,\n                \"temperature\": 69,\n
        \              [...]
