interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/39.8151,-86.3416
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/39.8151,-86.3416\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -86.3416,\n            39.815100000000001\n        ]\n    },\n
        \   \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/39.8151,-86.3416\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"IND\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/IND\",\n        \"gridId\": \"IND\",\n        \"gridX\":
        51,\n        \"gridY\": 71,\n        \"forecast\": \"https://api.weather.gov/gridpoints/IND/51,71/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/IND/51,71/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/IND/51,71\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/IND/51,71/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -86.320645999999996,\n                    39.816549000000002\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Clermont\",\n                \"state\": \"IN\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        1796.9127538245\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 264\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/INZ046\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/INC063\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/INZ046\",\n        \"timeZone\": \"America/Indiana/Indianapolis\",\n
        \       \"radarStation\": \"KIND\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 39709f6d
      X-Edge-Request-ID:
      - 1f9d0ed7
      X-Server-ID:
      - vm-bldr-nids-apiapp11.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/39.8151,-86.3416
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/IND/51,71/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -86.368130300000004,\n                    39.833038299999998\n
        \               ],\n                [\n                    -86.369956999999999,\n
        \                   39.8110304\n                ],\n                [\n                    -86.341330499999998,\n
        \                   39.809626399999999\n                ],\n                [\n
        \                   -86.339497800000004,\n                    39.831634100000002\n
        \               ],\n                [\n                    -86.368130300000004,\n
        \                   39.833038299999998\n                ]\n            ]\n
        \       ]\n    },\n    \"properties\": {\n        \"updated\": \"2023-08-01T12:45:27+00:00\",\n
        \       \"units\": \"us\",\n        \"forecastGenerator\": \"BaselineForecastGenerator\",\n
        \       \"generatedAt\": \"2023-08-01T12:55:19+00:00\",\n        \"updateTime\":
        \"2023-08-01T12:45:27+00:00\",\n        \"validTimes\": \"2023-08-01T06:00:00+00:00/P7DT19H\",\n
        \       \"elevation\": {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\":
        264.87119999999999\n        },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-08-01T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 84,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 14.444444444444445\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 75\n                },\n
        \               \"windSpeed\": \"2 to 6 mph\",\n                \"windDirection\":
        \"E\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/few?size=medium\",\n
        \               \"shortForecast\": \"Sunny\",\n                \"detailedForecast\":
        \"Sunny, with a high near 84. East wind 2 to 6 mph.\"\n            },\n            {\n
        \               \"number\": 2,\n                \"name\": \"Tonight\",\n                \"startTime\":
        \"2023-08-01T18:00:00-04:00\",\n                \"endTime\": \"2023-08-02T06:00:00-04:00\",\n
        \               \"isDaytime\": false,\n                \"temperature\": 62,\n
        \               \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
        \"risi[...]
