interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/33.9534,-118.3409
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/33.9534,-118.3409\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -118.3409,\n            33.953400000000002\n        ]\n    },\n
        \   \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/33.9534,-118.3409\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"LOX\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/LOX\",\n        \"gridId\": \"LOX\",\n        \"gridX\":
        151,\n        \"gridY\": 41,\n        \"forecast\": \"https://api.weather.gov/gridpoints/LOX/151,41/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/LOX/151,41/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/LOX/151,41\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/LOX/151,41/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -118.344274,\n                    33.956068000000002\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Inglewood\",\n                \"state\": \"CA\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        429.94892538570002\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 133\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/CAZ368\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/CAC037\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/CAZ368\",\n        \"timeZone\": \"America/Los_Angeles\",\n
        \       \"radarStation\": \"KSOX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 31feb68e
      X-Edge-Request-ID:
      - 1f9d0d17
      X-Server-ID:
      - vm-bldr-nids-apiapp3.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/33.9534,-118.3409
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/LOX/151,41/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -118.3504416,\n                    33.958359899999998\n
        \               ],\n                [\n                    -118.3457815,\n
        \                   33.936135299999997\n                ],\n                [\n
        \                   -118.3189831,\n                    33.939999899999997\n
        \               ],\n                [\n                    -118.323638,\n
        \                   33.962224999999997\n                ],\n                [\n
        \                   -118.3504416,\n                    33.958359899999998\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T10:52:21+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:55:19+00:00\",\n        \"updateTime\": \"2023-08-01T10:52:21+00:00\",\n
        \       \"validTimes\": \"2023-08-01T04:00:00+00:00/P7DT21H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 29.8704\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Overnight\",\n                \"startTime\":
        \"2023-08-01T05:00:00-07:00\",\n                \"endTime\": \"2023-08-01T06:00:00-07:00\",\n
        \               \"isDaytime\": false,\n                \"temperature\": 71,\n
        \               \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
        null,\n                \"probabilityOfPrecipitation\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 20\n                },\n
        \               \"dewpoint\": {\n                    \"unitCode\": \"wmoUnit:degC\",\n
        \                   \"value\": 17.777777777777779\n                },\n                \"relativeHumidity\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        79\n                },\n                \"windSpeed\": \"5 mph\",\n                \"windDirection\":
        \"ESE\",\n                \"icon\": \"https://api.weather.gov/icons/land/night/tsra,20?size=medium\",\n
        \               \"shortForecast\": \"Slight Chance Showers And Thunderstorms\",\n
        \               \"detailedForecast\": \"A slight chance of showers and thunderstorms.
        Mostly cloudy, with a low around 71. East southeast wind around 5 mph. Chance
        of precipitation is 20%. New rainfall amounts less than a tenth of an inch
        possible.\"\n            },\n            {\n                \"number\": 2,\n
        \               \"name\": \"Tuesday\",\n                \"startTime\": \"2023-08-01T06:00:00-07:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-07:00\",\n                [...]
