interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/39.6915,-104.9169
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/39.6915,-104.9169\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -104.9169,\n            39.691499999999998\n        ]\n    },\n
        \   \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/39.6915,-104.9169\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"BOU\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/BOU\",\n        \"gridId\": \"BOU\",\n        \"gridX\":
        65,\n        \"gridY\": 59,\n        \"forecast\": \"https://api.weather.gov/gridpoints/BOU/65,59/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/BOU/65,59/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/BOU/65,59\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/BOU/65,59/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -104.93615699999999,\n                    39.703052\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Glendale\",\n                \"state\": \"CO\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        2089.1351235843999\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 127\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/COZ040\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/COC031\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/COZ240\",\n        \"timeZone\": \"America/Denver\",\n
        \       \"radarStation\": \"KFTG\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 2cf21f10
      X-Edge-Request-ID:
      - 1f9d0c43
      X-Server-ID:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/39.6915,-104.9169
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/BOU/65,59/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -104.94309939999999,\n                    39.697559499999997\n
        \               ],\n                [\n                    -104.9409996,\n
        \                   39.675563199999999\n                ],\n                [\n
        \                   -104.9124607,\n                    39.677174399999998\n
        \               ],\n                [\n                    -104.9145546,\n
        \                   39.699170799999997\n                ],\n                [\n
        \                   -104.94309939999999,\n                    39.697559499999997\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T09:57:09+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:46:27+00:00\",\n        \"updateTime\": \"2023-08-01T09:57:09+00:00\",\n
        \       \"validTimes\": \"2023-08-01T03:00:00+00:00/P7DT22H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 1654.1496\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-08-01T06:00:00-06:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-06:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 86,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": \"falling\",\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        70\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 16.111111111111111\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 87\n                },\n
        \               \"windSpeed\": \"5 to 10 mph\",\n                \"windDirection\":
        \"S\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/rain_showers,20/tsra_sct,70?size=medium\",\n
        \               \"shortForecast\": \"Slight Chance Rain Showers then Showers
        And Thunderstorms Likely\",\n                \"detailedForecast\": \"A slight
        chance of rain showers before 8am, then showers and thunderstorms likely.
        Partly sunny. High near 86, with temperatures falling to around 77 in the
        afternoon. South wind 5 to 10 mph, with gusts as high as 16 mph. Chance of
        precipitation is 70%. New rainfall amounts between a tenth and quarter of
        an inch possible.\"\n            },\n            {\n                \"number\":
        2,\n                \"name\": \"Tonight\",\n                \"s[...]
