interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/41.5062,-81.6996
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/41.5062,-81.6996\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -81.699600000000004,\n            41.5062\n        ]\n    },\n
        \   \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/41.5062,-81.6996\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"CLE\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/CLE\",\n        \"gridId\": \"CLE\",\n        \"gridX\":
        83,\n        \"gridY\": 66,\n        \"forecast\": \"https://api.weather.gov/gridpoints/CLE/83,66/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/CLE/83,66/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/CLE/83,66\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/CLE/83,66/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -81.679434999999998,\n                    41.478462\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Cleveland\",\n                \"state\": \"OH\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        3511.9730282639998\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 331\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/OHZ011\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/OHC035\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/OHZ011\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KCLE\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 337a72d9
      X-Edge-Request-ID:
      - 1f9d15d6
      X-Server-ID:
      - vm-bldr-nids-apiapp2.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/41.5062,-81.6996
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/CLE/83,66/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -81.714833499999997,\n                    41.529259600000003\n
        \               ],\n                [\n                    -81.717688499999994,\n
        \                   41.507512500000004\n                ],\n                [\n
        \                   -81.688655799999992,\n                    41.505373200000001\n
        \               ],\n                [\n                    -81.685794599999994,\n
        \                   41.527120099999998\n                ],\n                [\n
        \                   -81.714833499999997,\n                    41.529259600000003\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T11:05:03+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:55:21+00:00\",\n        \"updateTime\": \"2023-08-01T11:05:03+00:00\",\n
        \       \"validTimes\": \"2023-08-01T05:00:00+00:00/P7DT20H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 174.04079999999999\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-08-01T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 77,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        40\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 16.666666666666668\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 80\n                },\n
        \               \"windSpeed\": \"3 to 9 mph\",\n                \"windDirection\":
        \"NW\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/rain_showers,40/rain_showers,30?size=medium\",\n
        \               \"shortForecast\": \"Haze\",\n                \"detailedForecast\":
        \"Haze and a chance of water spouts and a chance of rain showers. Sunny, with
        a high near 77. Northwest wind 3 to 9 mph. Chance of precipitation is 40%.\"\n
        \           },\n            {\n                \"number\": 2,\n                \"name\":
        \"Tonight\",\n                \"startTime\": \"2023-08-01T18:00:00-04:00\",\n
        \               \"endTime\": \"2023-08-02T06:00:00-04:00\",\n                \"isDaytime\":
        false,\n                \"temperatu[...]
