interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/42.3400,-83.0478
  response:
    body: {}
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - /points/42.34,-83.0478
      X-Correlation-ID:
      - 320c855b
      X-Edge-Request-ID:
      - 1f9d2089
      X-Server-ID:
      - vm-bldr-nids-apiapp3.ncep.noaa.gov
    status:
      code: 301
      message: Moved Permanently
    url: https://api.weather.gov/points/42.3400,-83.0478
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/42.34,-83.0478
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/42.34,-83.0478\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -83.047799999999995,\n            42.340000000000003\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/42.34,-83.0478\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"DTX\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/DTX\",\n        \"gridId\": \"DTX\",\n        \"gridX\":
        66,\n        \"gridY\": 34,\n        \"forecast\": \"https://api.weather.gov/gridpoints/DTX/66,34/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/DTX/66,34/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/DTX/66,34\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/DTX/66,34/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -83.055950899999999,\n                    42.395386999999999\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Hamtramck\",\n                \"state\": \"MI\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        6195.0595663673002\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 173\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/MIZ076\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/MIC163\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/MIZ076\",\n        \"timeZone\": \"America/Detroit\",\n
        \       \"radarStation\": \"KDTX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 397ecba0
      X-Edge-Request-ID:
      - 1f9d20d3
      X-Server-ID:
      - vm-bldr-nids-apiapp4.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/42.34,-83.0478
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/DTX/66,34/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -83.054582999999994,\n                    42.344701399999998\n
        \               ],\n                [\n                    -83.057171099999991,\n
        \                   42.323041400000001\n                ],\n                [\n
        \                   -83.027861499999986,\n                    42.321125100000003\n
        \               ],\n                [\n                    -83.025267099999979,\n
        \                   42.342784900000005\n                ],\n                [\n
        \                   -83.054582999999994,\n                    42.344701399999998\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T11:13:37+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:05:52+00:00\",\n        \"updateTime\": \"2023-08-01T11:13:37+00:00\",\n
        \       \"validTimes\": \"2023-08-01T05:00:00+00:00/P7DT20H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 174.04079999999999\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-08-01T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 80,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": \"falling\",\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 16.111111111111111\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 77\n                },\n
        \               \"windSpeed\": \"3 to 7 mph\",\n                \"windDirection\":
        \"SE\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/sct?size=medium\",\n
        \               \"shortForecast\": \"Mostly Sunny\",\n                \"detailedForecast\":
        \"Mostly sunny. High near 80, with temperatures falling to around 76 in the
        afternoon. Southeast wind 3 to 7 mph.\"\n            },\n            {\n                \"number\":
        2,\n                \"name\": \"Tonight\",\n                \"startTime\":
        \"2023-08-01T18:00:00-04:00\",\n                \"endTime\": \"2023-08-02T06:00:00-04:00\",\n
        \               \"isDaytime\": false,\n                \"temperature\": 61,\n
        \               \"temperatur[...]
