interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/36.1665,-86.7735
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/36.1665,-86.7735\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -86.773499999999999,\n            36.166499999999999\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/36.1665,-86.7735\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"OHX\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/OHX\",\n        \"gridId\": \"OHX\",\n        \"gridX\":
        50,\n        \"gridY\": 57,\n        \"forecast\": \"https://api.weather.gov/gridpoints/OHX/50,57/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/OHX/50,57/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/OHX/50,57\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/OHX/50,57/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -86.785002000000006,\n                    36.171799999999998\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Nashville-Davidson metropolitan government (balance)\",\n                \"state\":
        \"TN\",\n                \"distance\": {\n                    \"unitCode\":
        \"wmoUnit:m\",\n                    \"value\": 1188.8364152058\n                },\n
        \               \"bearing\": {\n                    \"unitCode\": \"wmoUnit:degree_(angle)\",\n
        \                   \"value\": 119\n                }\n            }\n        },\n
        \       \"forecastZone\": \"https://api.weather.gov/zones/forecast/TNZ027\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/TNC037\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/TNZ027\",\n        \"timeZone\": \"America/Chicago\",\n
        \       \"radarStation\": \"KOHX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 3aa76d39
      X-Edge-Request-ID:
      - 1f9d10af
      X-Server-ID:
      - vm-bldr-nids-apiapp7.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/36.1665,-86.7735
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/OHX/50,57/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -86.797794800000005,\n                    36.179625299999998\n
        \               ],\n                [\n                    -86.7994719,\n
        \                   36.157271699999995\n                ],\n                [\n
        \                   -86.771795999999995,\n                    36.155916099999999\n
        \               ],\n                [\n                    -86.770113199999997,\n
        \                   36.178269499999999\n                ],\n                [\n
        \                   -86.797794800000005,\n                    36.179625299999998\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T11:12:49+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:38:55+00:00\",\n        \"updateTime\": \"2023-08-01T11:12:49+00:00\",\n
        \       \"validTimes\": \"2023-08-01T05:00:00+00:00/P7DT20H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 145.9992\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-08-01T07:00:00-05:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-05:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 93,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 18.333333333333332\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 81\n                },\n
        \               \"windSpeed\": \"5 to 10 mph\",\n                \"windDirection\":
        \"NE\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/few?size=medium\",\n
        \               \"shortForecast\": \"Sunny\",\n                \"detailedForecast\":
        \"Sunny, with a high near 93. Northeast wind 5 to 10 mph.\"\n            },\n
        \           {\n                \"number\": 2,\n                \"name\": \"Tonight\",\n
        \               \"startTime\": \"2023-08-01T18:00:00-05:00\",\n                \"endTime\":
        \"2023-08-02T06:00:00-05:00\",\n                \"isDaytime\": false,\n                \"temperature\":
        65,\n                \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
        n[...]
