interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/47.5949,-122.3336
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/47.5949,-122.3336\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -122.3336,\n            47.594900000000003\n        ]\n    },\n
        \   \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/47.5949,-122.3336\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"SEW\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/SEW\",\n        \"gridId\": \"SEW\",\n        \"gridX\":
        124,\n        \"gridY\": 67,\n        \"forecast\": \"https://api.weather.gov/gridpoints/SEW/124,67/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/SEW/124,67/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/SEW/124,67\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/SEW/124,67/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -122.350876,\n                    47.620499000000002\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Seattle\",\n                \"state\": \"WA\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        3127.2791045399999\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 155\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/WAZ558\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/WAC033\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/WAZ654\",\n        \"timeZone\": \"America/Los_Angeles\",\n
        \       \"radarStation\": \"KATX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 39e8ea0e
      X-Edge-Request-ID:
      - 1f9d2ab0
      X-Server-ID:
      - vm-bldr-nids-apiapp9.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/47.5949,-122.3336
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/SEW/124,67/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -122.36258650000001,\n                    47.591229200000001\n
        \               ],\n                [\n                    -122.35635850000001,\n
        \                   47.570695300000004\n                ],\n                [\n
        \                   -122.32593700000001,\n                    47.574891400000006\n
        \               ],\n                [\n                    -122.33215840000001,\n
        \                   47.595425500000005\n                ],\n                [\n
        \                   -122.36258650000001,\n                    47.591229200000001\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T10:59:17+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:47:15+00:00\",\n        \"updateTime\": \"2023-08-01T10:59:17+00:00\",\n
        \       \"validTimes\": \"2023-08-01T04:00:00+00:00/P7DT21H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 0.91439999999999999\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Overnight\",\n                \"startTime\":
        \"2023-08-01T05:00:00-07:00\",\n                \"endTime\": \"2023-08-01T06:00:00-07:00\",\n
        \               \"isDaytime\": false,\n                \"temperature\": 56,\n
        \               \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
        null,\n                \"probabilityOfPrecipitation\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": null\n                },\n
        \               \"dewpoint\": {\n                    \"unitCode\": \"wmoUnit:degC\",\n
        \                   \"value\": 11.111111111111111\n                },\n                \"relativeHumidity\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        83\n                },\n                \"windSpeed\": \"2 mph\",\n                \"windDirection\":
        \"E\",\n                \"icon\": \"https://api.weather.gov/icons/land/night/few?size=medium\",\n
        \               \"shortForecast\": \"Mostly Clear\",\n                \"detailedForecast\":
        \"Mostly clear, with a low around 56. East wind around 2 mph.\"\n            },\n
        \           {\n                \"number\": 2,\n                \"name\": \"Tuesday\",\n
        \               \"startTime\": \"2023-08-01T06:00:00-07:00\",\n                \"endTime\":
        \"2023-08-01T18:00:00-07:00\",\n                \"isDaytime\": true,\n                \"temperature\":
        77,\n                \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
      [...]
