interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/39.9012,-75.1689
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/39.9012,-75.1688999\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -75.1688999,\n            39.901200000000003\n        ]\n    },\n
        \   \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/39.9012,-75.1688999\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"PHI\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/PHI\",\n        \"gridId\": \"PHI\",\n        \"gridX\":
        50,\n        \"gridY\": 73,\n        \"forecast\": \"https://api.weather.gov/gridpoints/PHI/50,73/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/PHI/50,73/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/PHI/50,73\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/PHI/50,73/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -75.185620999999998,\n                    39.867297000000001\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"National Park\",\n                \"state\": \"NJ\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        4030.7913452723001\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 20\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/PAZ071\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/PAC101\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/PAZ071\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KDIX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 39e87c81
      X-Edge-Request-ID:
      - 1f9d1bd4
      X-Server-ID:
      - vm-bldr-nids-apiapp7.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/39.9012,-75.1689
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/PHI/50,73/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -75.180481499999999,\n                    39.904183099999997\n
        \               ],\n                [\n                    -75.184664699999999,\n
        \                   39.882382999999997\n                ],\n                [\n
        \                   -75.1562397,\n                    39.879169599999997\n
        \               ],\n                [\n                    -75.152050700000004,\n
        \                   39.900969399999994\n                ],\n                [\n
        \                   -75.180481499999999,\n                    39.904183099999997\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T11:09:32+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:47:01+00:00\",\n        \"updateTime\": \"2023-08-01T11:09:32+00:00\",\n
        \       \"validTimes\": \"2023-08-01T05:00:00+00:00/P7DT20H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 0.91439999999999999\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-08-01T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 83,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 13.888888888888889\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 66\n                },\n
        \               \"windSpeed\": \"5 mph\",\n                \"windDirection\":
        \"N\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/few?size=medium\",\n
        \               \"shortForecast\": \"Sunny\",\n                \"detailedForecast\":
        \"Sunny, with a high near 83. North wind around 5 mph.\"\n            },\n
        \           {\n                \"number\": 2,\n                \"name\": \"Tonight\",\n
        \               \"startTime\": \"2023-08-01T18:00:00-04:00\",\n                \"endTime\":
        \"2023-08-02T06:00:00-04:00\",\n                \"isDaytime\": false,\n                \"temperature\":
        62,\n                \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
        null[...]
