interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/40.8135,-74.0767
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/40.8135,-74.0767\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -74.076700000000002,\n            40.813499999999998\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/40.8135,-74.0767\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"OKX\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/OKX\",\n        \"gridId\": \"OKX\",\n        \"gridX\":
        30,\n        \"gridY\": 39,\n        \"forecast\": \"https://api.weather.gov/gridpoints/OKX/30,39/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/OKX/30,39/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/OKX/30,39\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/OKX/30,39/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -74.085024000000004,\n                    40.817096900000003\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"East Rutherford\",\n                \"state\": \"NJ\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        806.64232566976\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 119\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/NJZ104\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/NJC003\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/NJZ104\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KDIX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - '10290139'
      X-Edge-Request-ID:
      - 1f9d1c82
      X-Server-ID:
      - vm-bldr-nids-apiapp9.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/40.8135,-74.0767
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/OKX/30,39/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -74.093141799999998,\n                    40.823875600000001\n
        \               ],\n                [\n                    -74.097591800000004,\n
        \                   40.8022068\n                ],\n                [\n                    -74.068953000000008,\n
        \                   40.7988353\n                ],\n                [\n                    -74.064497100000011,\n
        \                   40.820503700000003\n                ],\n                [\n
        \                   -74.093141799999998,\n                    40.823875600000001\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T09:44:51+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:46:58+00:00\",\n        \"updateTime\": \"2023-08-01T09:44:51+00:00\",\n
        \       \"validTimes\": \"2023-08-01T03:00:00+00:00/P8DT4H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 2.1335999999999999\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-08-01T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 81,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": \"falling\",\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 12.222222222222221\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 59\n                },\n
        \               \"windSpeed\": \"8 mph\",\n                \"windDirection\":
        \"N\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/few?size=medium\",\n
        \               \"shortForecast\": \"Sunny\",\n                \"detailedForecast\":
        \"Sunny. High near 81, with temperatures falling to around 78 in the afternoon.
        North wind around 8 mph.\"\n            },\n            {\n                \"number\":
        2,\n                \"name\": \"Tonight\",\n                \"startTime\":
        \"2023-08-01T18:00:00-04:00\",\n                \"endTime\": \"2023-08-02T06:00:00-04:00\",\n
        \               \"isDaytime\": false,\n                \"temperature\": 61,\n
        \               \"temperatureUnit\": [...]
