interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/35.2258,-80.8550
  response:
    body: {}
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - /points/35.2258,-80.855
      X-Correlation-ID:
      - 31a128d2
      X-Edge-Request-ID:
      - 1f9d24c6
      X-Server-ID:
      - vm-bldr-nids-apiapp7.ncep.noaa.gov
    status:
      code: 301
      message: Moved Permanently
    url: https://api.weather.gov/points/35.2258,-80.8550
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/35.2258,-80.855
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/35.2258,-80.855\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -80.855000000000004,\n            35.2258\n        ]\n    },\n
        \   \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/35.2258,-80.855\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"GSP\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/GSP\",\n        \"gridId\": \"GSP\",\n        \"gridX\":
        118,\n        \"gridY\": 65,\n        \"forecast\": \"https://api.weather.gov/gridpoints/GSP/118,65/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/GSP/118,65/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/GSP/118,65\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/GSP/118,65/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -80.831022000000004,\n                    35.207788000000001\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Charlotte\",\n                \"state\": \"NC\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        2959.0819361048998\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 312\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/NCZ071\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/NCC119\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/NCZ071\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KGSP\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 3202554e
      X-Edge-Request-ID:
      - 1f9d251b
      X-Server-ID:
      - vm-bldr-nids-apiapp11.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/35.2258,-80.855
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/GSP/118,65/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -80.877952199999996,\n                    35.242660899999997\n
        \               ],\n                [\n                    -80.880811699999995,\n
        \                   35.220316599999997\n                ],\n                [\n
        \                   -80.853453399999992,\n                    35.217978199999997\n
        \               ],\n                [\n                    -80.850588499999986,\n
        \                   35.240322199999994\n                ],\n                [\n
        \                   -80.877952199999996,\n                    35.242660899999997\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T10:36:00+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:54:06+00:00\",\n        \"updateTime\": \"2023-08-01T10:36:00+00:00\",\n
        \       \"validTimes\": \"2023-08-01T04:00:00+00:00/P8DT6H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 198.12\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-08-01T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 87,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        20\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 21.111111111111111\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 84\n                },\n
        \               \"windSpeed\": \"6 to 9 mph\",\n                \"windDirection\":
        \"NE\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/sct/tsra_hi,20?size=medium\",\n
        \               \"shortForecast\": \"Mostly Sunny then Slight Chance Showers
        And Thunderstorms\",\n                \"detailedForecast\": \"A slight chance
        of rain showers between 1pm and 2pm, then a slight chance of showers and thunderstorms
        between 2pm and 5pm. Mostly sunny, with a high near 87. Northeast wind 6 to
        9 mph. Chance of precipitation is 20%. New rainfall amounts less than a tenth
        of an inch possible.\"\n            },\n            {\n                \"number\":
        2,\n                \"name\": \"Tonight\",\n                \"startTime\":
        \"2023-08-01T18:00:00-04:00\",\n  [...]
