interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/32.7473,-97.0967
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/32.7473,-97.0967\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -97.096699999999998,\n            32.747300000000003\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/32.7473,-97.0967\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"FWD\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/FWD\",\n        \"gridId\": \"FWD\",\n        \"gridX\":
        78,\n        \"gridY\": 103,\n        \"forecast\": \"https://api.weather.gov/gridpoints/FWD/78,103/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/FWD/78,103/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/FWD/78,103\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/FWD/78,103/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -97.124690999999999,\n                    32.700707999999999\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Arlington\",\n                \"state\": \"TX\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        5804.9170698336002\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 26\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/TXZ118\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/TXC439\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/TXZ118\",\n        \"timeZone\": \"America/Chicago\",\n
        \       \"radarStation\": \"KFWS\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 2cf29cf5
      X-Edge-Request-ID:
      - 1f9d1b2b
      X-Server-ID:
      - vm-bldr-nids-apiapp3.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/32.7473,-97.0967
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/FWD/78,103/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -97.112488499999998,\n                    32.764605299999999\n
        \               ],\n                [\n                    -97.112069399999996,\n
        \                   32.741986799999999\n                ],\n                [\n
        \                   -97.085171199999991,\n                    32.742336999999999\n
        \               ],\n                [\n                    -97.085584899999986,\n
        \                   32.7649556\n                ],\n                [\n                    -97.112488499999998,\n
        \                   32.764605299999999\n                ]\n            ]\n
        \       ]\n    },\n    \"properties\": {\n        \"updated\": \"2023-08-01T10:33:20+00:00\",\n
        \       \"units\": \"us\",\n        \"forecastGenerator\": \"BaselineForecastGenerator\",\n
        \       \"generatedAt\": \"2023-08-01T12:47:00+00:00\",\n        \"updateTime\":
        \"2023-08-01T10:33:20+00:00\",\n        \"validTimes\": \"2023-08-01T04:00:00+00:00/P7DT21H\",\n
        \       \"elevation\": {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\":
        177.08879999999999\n        },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-08-01T07:00:00-05:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-05:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 107,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 20\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 63\n                },\n
        \               \"windSpeed\": \"5 to 10 mph\",\n                \"windDirection\":
        \"S\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/hot?size=medium\",\n
        \               \"shortForecast\": \"Mostly Sunny\",\n                \"detailedForecast\":
        \"Mostly sunny, with a high near 107. Heat index values as high as 109. South
        wind 5 to 10 mph.\"\n            },\n            {\n                \"number\":
        2,\n                \"name\": \"Tonight\",\n                \"startTime\":
        \"2023-08-01T18:00:00-05:00\",\n                \"endTime\": \"2023-08-02T06:00:00-05:00\",\n
        \               \"isDaytime\": false,\n                \"temperature\": 84,\n
        \               \"temperatureUnit\": \"F\",\n [...]
