interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/33.7555,-84.4030
  response:
    body: {}
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - /points/33.7555,-84.403
      X-Correlation-ID:
      - 2cf2b680
      X-Edge-Request-ID:
      - 1f9d2326
      X-Server-ID:
      - vm-bldr-nids-apiapp6.ncep.noaa.gov
    status:
      code: 301
      message: Moved Permanently
    url: https://api.weather.gov/points/33.7555,-84.4030
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/33.7555,-84.403
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/33.7555,-84.403\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -84.403000000000006,\n            33.755499999999998\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/33.7555,-84.403\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"FFC\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/FFC\",\n        \"gridId\": \"FFC\",\n        \"gridX\":
        50,\n        \"gridY\": 87,\n        \"forecast\": \"https://api.weather.gov/gridpoints/FFC/50,87/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/FFC/50,87/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/FFC/50,87\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/FFC/50,87/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -84.422674999999998,\n                    33.762909000000001\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Atlanta\",\n                \"state\": \"GA\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        1996.7432440287\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 114\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/GAZ033\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/GAC121\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/GAZ033\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KFFC\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 39e8a21b
      X-Edge-Request-ID:
      - 1f9d232f
      X-Server-ID:
      - vm-bldr-nids-apiapp11.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/33.7555,-84.403
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/FFC/50,87/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -84.416459399999994,\n                    33.767928099999999\n
        \               ],\n                [\n                    -84.418575499999989,\n
        \                   33.745434500000002\n                ],\n                [\n
        \                   -84.391521099999991,\n                    33.7436729\n
        \               ],\n                [\n                    -84.38939959999999,\n
        \                   33.766166200000001\n                ],\n                [\n
        \                   -84.416459399999994,\n                    33.767928099999999\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T10:38:11+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:47:05+00:00\",\n        \"updateTime\": \"2023-08-01T10:38:11+00:00\",\n
        \       \"validTimes\": \"2023-08-01T04:00:00+00:00/P7DT21H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 306.93360000000001\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-08-01T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 92,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        null\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 18.888888888888889\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 76\n                },\n
        \               \"windSpeed\": \"5 mph\",\n                \"windDirection\":
        \"N\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/few?size=medium\",\n
        \               \"shortForecast\": \"Sunny\",\n                \"detailedForecast\":
        \"Sunny, with a high near 92. North wind around 5 mph.\"\n            },\n
        \           {\n                \"number\": 2,\n                \"name\": \"Tonight\",\n
        \               \"startTime\": \"2023-08-01T18:00:00-04:00\",\n                \"endTime\":
        \"2023-08-02T06:00:00-04:00\",\n                \"isDaytime\": false,\n                \"temperature\":
        71,\n                \"temperatureUnit\": \"F\",\n                \"temperatureTrend\":
        null[...]
