interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/30.3240,-81.6394
  response:
    body: {}
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - /points/30.324,-81.6394
      X-Correlation-ID:
      - 3aa77343
      X-Edge-Request-ID:
      - 1f9d123e
      X-Server-ID:
      - vm-bldr-nids-apiapp5.ncep.noaa.gov
    status:
      code: 301
      message: Moved Permanently
    url: https://api.weather.gov/points/30.3240,-81.6394
- request:
    body: null
    headers:
    method: GET
    uri: https://api.weather.gov/points/30.324,-81.6394
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/30.324,-81.6394\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -81.639399999999995,\n            30.324000000000002\n        ]\n
        \   },\n    \"properties\": {\n        \"@id\": \"https://api.weather.gov/points/30.324,-81.6394\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"JAX\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/JAX\",\n        \"gridId\": \"JAX\",\n        \"gridX\":
        66,\n        \"gridY\": 64,\n        \"forecast\": \"https://api.weather.gov/gridpoints/JAX/66,64/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/JAX/66,64/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/JAX/66,64\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/JAX/66,64/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -81.661602999999999,\n                    30.336863999999998\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Jacksonville\",\n                \"state\": \"FL\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        2566.5167319675002\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 123\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/FLZ125\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/FLC031\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/FLZ125\",\n        \"timeZone\": \"America/New_York\",\n
        \       \"radarStation\": \"KJAX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 31fed078
      X-Edge-Request-ID:
      - 1f9d124a
      X-Server-ID:
      - vm-bldr-nids-apiapp11.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/30.324,-81.6394
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/JAX/66,64/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -81.661296899999996,\n                    30.330963400000002\n
        \               ],\n                [\n                    -81.663884799999991,\n
        \                   30.308328800000002\n                ],\n                [\n
        \                   -81.637657899999994,\n                    30.306092000000003\n
        \               ],\n                [\n                    -81.635064899999989,\n
        \                   30.328726400000004\n                ],\n                [\n
        \                   -81.661296899999996,\n                    30.330963400000002\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T11:35:46+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:31:24+00:00\",\n        \"updateTime\": \"2023-08-01T11:35:46+00:00\",\n
        \       \"validTimes\": \"2023-08-01T05:00:00+00:00/P7DT20H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 0.91439999999999999\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-08-01T08:00:00-04:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-04:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 92,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        40\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 25\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 97\n                },\n
        \               \"windSpeed\": \"3 to 9 mph\",\n                \"windDirection\":
        \"NE\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/tsra_hi,20/tsra_hi,40?size=medium\",\n
        \               \"shortForecast\": \"Slight Chance Showers And Thunderstorms\",\n
        \               \"detailedForecast\": \"A slight chance of showers and thunderstorms
        between 11am and 1pm, then a chance of showers and thunderstorms between 1pm
        and 2pm, then a chance of showers and thunderstorms. Mostly sunny, with a
        high near 92. Heat index values as high as 105. Northeast wind 3 to 9 mph.
        Chance of precipitation is 40%. New rainfall amounts between a tenth and quarter
        of an inch possible.\"\n            },\n            {\n                \"number\":
        2,\n          [...]
