interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/points/39.0488,-94.4816
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n
        \           \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\":
        \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\":
        \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n
        \           \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n
        \           \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\":
        \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\":
        \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\":
        \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\":
        {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\":
        {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\":
        {\n                \"@type\": \"@id\"\n            },\n            \"county\":
        {\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n
        \   \"id\": \"https://api.weather.gov/points/39.0488,-94.4816\",\n    \"type\":
        \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\":
        [\n            -94.4816,\n            39.0488\n        ]\n    },\n    \"properties\":
        {\n        \"@id\": \"https://api.weather.gov/points/39.0488,-94.4816\",\n
        \       \"@type\": \"wx:Point\",\n        \"cwa\": \"EAX\",\n        \"forecastOffice\":
        \"https://api.weather.gov/offices/EAX\",\n        \"gridId\": \"EAX\",\n        \"gridX\":
        47,\n        \"gridY\": 48,\n        \"forecast\": \"https://api.weather.gov/gridpoints/EAX/47,48/forecast\",\n
        \       \"forecastHourly\": \"https://api.weather.gov/gridpoints/EAX/47,48/forecast/hourly\",\n
        \       \"forecastGridData\": \"https://api.weather.gov/gridpoints/EAX/47,48\",\n
        \       \"observationStations\": \"https://api.weather.gov/gridpoints/EAX/47,48/stations\",\n
        \       \"relativeLocation\": {\n            \"type\": \"Feature\",\n            \"geometry\":
        {\n                \"type\": \"Point\",\n                \"coordinates\":
        [\n                    -94.464988000000005,\n                    38.995095900000003\n
        \               ]\n            },\n            \"properties\": {\n                \"city\":
        \"Raytown\",\n                \"state\": \"MO\",\n                \"distance\":
        {\n                    \"unitCode\": \"wmoUnit:m\",\n                    \"value\":
        6141.6475200492996\n                },\n                \"bearing\": {\n                    \"unitCode\":
        \"wmoUnit:degree_(angle)\",\n                    \"value\": 346\n                }\n
        \           }\n        },\n        \"forecastZone\": \"https://api.weather.gov/zones/forecast/MOZ037\",\n
        \       \"county\": \"https://api.weather.gov/zones/county/MOC095\",\n        \"fireWeatherZone\":
        \"https://api.weather.gov/zones/fire/MOZ037\",\n        \"timeZone\": \"America/Chicago\",\n
        \       \"radarStation\": \"KEAX\"\n    }\n}"
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-ID:
      - 3aa767ef
      X-Edge-Request-ID:
      - 20a95836
      X-Server-ID:
      - vm-bldr-nids-apiapp8.ncep.noaa.gov
    status:
      code: 200
      message: OK
    url: https://api.weather.gov/points/39.0488,-94.4816
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.weather.gov/gridpoints/EAX/47,48/forecast
  response:
    body:
      string: "{\n    \"@context\": [\n        \"https://geojson.org/geojson-ld/geojson-context.jsonld\",\n
        \       {\n            \"@version\": \"1.1\",\n            \"wx\": \"https://api.weather.gov/ontology#\",\n
        \           \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\":
        \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\"\n
        \       }\n    ],\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\":
        \"Polygon\",\n        \"coordinates\": [\n            [\n                [\n
        \                   -94.501669899999996,\n                    39.0497795\n
        \               ],\n                [\n                    -94.50177459999999,\n
        \                   39.027645100000001\n                ],\n                [\n
        \                   -94.473293199999986,\n                    39.027561499999997\n
        \               ],\n                [\n                    -94.473182499999993,\n
        \                   39.049695899999996\n                ],\n                [\n
        \                   -94.501669899999996,\n                    39.0497795\n
        \               ]\n            ]\n        ]\n    },\n    \"properties\": {\n
        \       \"updated\": \"2023-08-01T11:54:27+00:00\",\n        \"units\": \"us\",\n
        \       \"forecastGenerator\": \"BaselineForecastGenerator\",\n        \"generatedAt\":
        \"2023-08-01T12:46:26+00:00\",\n        \"updateTime\": \"2023-08-01T11:54:27+00:00\",\n
        \       \"validTimes\": \"2023-08-01T05:00:00+00:00/P7DT20H\",\n        \"elevation\":
        {\n            \"unitCode\": \"wmoUnit:m\",\n            \"value\": 270.96719999999999\n
        \       },\n        \"periods\": [\n            {\n                \"number\":
        1,\n                \"name\": \"Today\",\n                \"startTime\": \"2023-08-01T07:00:00-05:00\",\n
        \               \"endTime\": \"2023-08-01T18:00:00-05:00\",\n                \"isDaytime\":
        true,\n                \"temperature\": 91,\n                \"temperatureUnit\":
        \"F\",\n                \"temperatureTrend\": null,\n                \"probabilityOfPrecipitation\":
        {\n                    \"unitCode\": \"wmoUnit:percent\",\n                    \"value\":
        30\n                },\n                \"dewpoint\": {\n                    \"unitCode\":
        \"wmoUnit:degC\",\n                    \"value\": 22.777777777777779\n                },\n
        \               \"relativeHumidity\": {\n                    \"unitCode\":
        \"wmoUnit:percent\",\n                    \"value\": 90\n                },\n
        \               \"windSpeed\": \"7 to 12 mph\",\n                \"windDirection\":
        \"SE\",\n                \"icon\": \"https://api.weather.gov/icons/land/day/tsra_sct,30/bkn?size=medium\",\n
        \               \"shortForecast\": \"Chance Showers And Thunderstorms then
        Partly Sunny\",\n                \"detailedForecast\": \"A chance of showers
        and thunderstorms before 9am. Some of the storms could produce heavy rain.
        Partly sunny, with a high near 91. Heat index values as high as 98. Southeast
        wind 7 to 12 mph, with gusts as high as 20 mph. Chance of precipitation is
        30%.\"\n            },\n            {\n                \"number\": 2,\n                \"name\":
        \"Tonight\",\n                \"startTime\": \"2023-08-01T18:00:00-05:00\",\n
        \               \"endTime\[...]
